<header>
    <h1>Video Game Gallery</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/top-rated">Top Rated Games</a></li>
            <li><a href="/random">Random Game</a></li>
            <li><a href="/upcoming">Upcoming Games</a></li>
            <li><a href="/hidden-gems">Hidden Gems</a></li>
        </ul>
    </nav>
</header>
